<div class="partners-l partners-InnovationLab">
    <div class="partners-box">
        <div class="d-flex w-100 flex-wrap justify-content-center">
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-1.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-2.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-3.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-4.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-5.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-3.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-1.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-2.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-5.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-4.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-4.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-5.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-1.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-2.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-3.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-3.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-2.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-5.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-4.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-1.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-5.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-4.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-3.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-2.svg" alt="">
            </div>
            <div class="partner-item">
                <img class="partner-item--image" src="image/partner1-1.svg" alt="">
            </div>
        </div>
    </div>
</div>