<a class="contact--link" href="mailto:example@gmail.com" rel="noopener noreferrer">example@gmail.com</a>
<a class="contact--link" href="tel:+79991234567" rel="noopener noreferrer" style="margin-bottom: 44px;">+7 999 123-45-67</a>
<p class="contact-info">
    127051, Москва, ул. Цветной Бульвар, д. 25, стр. 3
    <br> © Innovation Lab, 2022
</p>
<div class="contact-social">
    <a class="contact-social--link" href="#" rel="noreferrer noopener" target="_blank">vk</a> ·
    <a class="contact-social--link" href="#" rel="noreferrer noopener" target="_blank">instagram</a> ·
    <a class="contact-social--link" href="#" rel="noreferrer noopener" target="_blank">facebook</a> ·
    <a class="contact-social--link" href="#" rel="noreferrer noopener" target="_blank">linkedin</a>
</div>