<div class="project-item project-FoxDigital" data-project="5">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/casefox1.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Marais</h5>
                        <p class="card-text">Сформировано сообщество потенциальных и активных клиентов, которое будет генерировать продажи.</p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/casefox2.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Группа компаний "Пик"</h5>
                        <p class="card-text">Проведена работа над узнаваемостью бренда, оформлены аккаунты и увеличена активность подписчиков.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/casefox3.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hyundai Russia</h5>
                        <p class="card-text">Разработана концепция и стратегия продвижения в соцсетях. Также выстроена работа с бллогерами.</p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/casefox4.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Кафе AL'REZE</h5>
                        <p class="card-text">Увеличение количества заказов из соцсетей, что помогло относительно безболезненно пережить период самоизоляции.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="w-100 d-flex">
        <a href="fox-digital.online" class="btn btn-main mx-auto my-5 viewProject">Больше проектов</a>
    </div>
</div>