<div class="project-item project-Inlab" data-project="2">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/inlab_04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Universal Pictures International “Не время умирать”</h5>
                        <p class="card-text">В рекламной кампании была проведена работа над построением знания и вовлечения пользователей к новому фильму серии Бондианы. Увеличены показатели Viewability и в 2 раза CTR.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/inlab_01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BMW М3/М4</h5>
                        <p class="card-text">Проведена работа над узнаваемостью бренда и нового модельного ряда. Благодаря формату Skin были увеличены показатели CTR и Viewability.
                        </p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/inlab_02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Оригинальный сериал Start “Содержанки”</h5>
                        <p class="card-text">Проведена работа над узнаваемостью бренда, увеличены показатели CTR и Viewability, а также  активное время просмотра.
                        </p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/inlab_03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Universal Pictures International “Дюна”</h5>
                        <p class="card-text">Была проведена работа над увеличением узнаваемости нового фильма «Дюна», так же были увеличены показатели CTR, а Viewability составил 90%.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="w-100 d-flex">
        <a href="#" class="btn btn-main mx-auto my-5 viewProject">Больше проектов</a>
    </div>
</div>