<div class="project-item project-InnovationLab" data-project="1">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/inlab_04.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Universal Pictures International “Не время умирать”</h5>
                        <p class="card-text">Мы провели работу над построением знания о бренде и привлекли внимание пользователей к новому фильму серии Бондианы. <br></p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/inlab_01.jpg"  class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BMW М3/М4</h5>
                        <p class="card-text">Работа над узнаваемостью бренда и нового модельного ряда - основная задача данной рекламной кампании.
                        </p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/inlab_02.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Оригинальный сериал Start “Содержанки”</h5>
                        <p class="card-text">Мы использовали формат Skin с оптимизацией под высокий CTR. Данная связка позволила увеличить кол-во заинтересованных, в подписке на сервис, пользователей.
                        </p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/inlab_03.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Universal Pictures International “Дюна”</h5>
                        <p class="card-text">Мы привлекли внимание пользователя к новому фильму «Дюна». Viewability составил 90%, что также отразилось на узнаваемости бренда.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="w-100 d-flex">
        <a href="#" class="btn btn-main mx-auto my-5 viewProject">Больше проектов</a>
    </div>
</div>