<div class="project-item project-Locrum" data-project="6">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <a href="#" class="project-link">
        <div class="card mb-3">
          <img src="image/locrumcase1.jpeg" class="img-442" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TopDog</h5>
            <p class="card-text">«При подготовке спортсменов самое главное – мотивация»: Эмин Панян о своей тренерской деятельности и промоушене TopDog</p>
            <p class="card-text"><small class="text-muted">  </small></p>
          </div>
        </div>
      </a>
      <a href="#" class="project-link">
        <div class="card mb-3">
          <img src="image/locrumcase2.jpeg" class="img-442" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Солнечный город</h5>
            <p class="card-text">Благотворительный фонд запускает информационно-фандрайзинговую программу “Неидеальная мать”, нацеленную на поддержание профилактики социального сиротства</p>
            <p class="card-text"><small class="text-muted">  </small></p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 col-md-6">
      <a href="#" class="project-link">
        <div class="card mt-5">
          <img src="image/locrumcase3.jpeg" class="img-442" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ПРОД КАРТА</h5>
            <p class="card-text">В России организовали выдачу продовольственных карт, благодаря которым, малоимущие смогут позволить себе немного больше</p>
            <p class="card-text"><small class="text-muted">  </small></p>
          </div>
        </div>
      </a>
      <a href="#" class="project-link">
        <div class="card mt-5">
          <img src="image/locrumcase4.jpeg" class="img-442" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hybrid Conf 21</h5>
            <p class="card-text">Programmatic-реклама: что это и какую пользу предлагает бизнесу</p>
            <p class="card-text"><small class="text-muted">  </small></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="w-100 d-flex">
    <a href="https://locrum.ru/" class="btn btn-main mx-auto my-5 viewProject">Больше проектов</a>
  </div>
</div>