<div class="project-item project-NSLab" data-project="3">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/nslab_clin.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CLINIQUE</h5>
                        <p class="card-text">Особенность формата <b>Slide Ad</b> в реклманой кампании CLINIQUE заключается в том, что креатив всегда находится в поле зрения пользователя, благодаря чему получилось достичь плановых показателей.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mb-3">
                    <img src="image/nslab_mitsu.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MITSUBISHI MOTORS</h5>
                        <p class="card-text">Мы использовали формат <b>Footer</b>, в который был встроен рекламный ролик о возможностях новой модели автомобиля. Это позволило значительно перевыполнить плановые показатели по рекламной кампании.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/nslab_sestr.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Оригинальный сериал Start “Сестры”</h5>
                        <p class="card-text">Для данного рекламного размещения были использованы форматы <b>Half Page</b> и <b>Full Page.</b> <br>Одним из достоинств является то, что форматы разрывают не только контекстную колонку, а располагаются по всей ширине страницы. Эффективность связки этих форматов подтвердилась высокими показателями Viewability и CTR.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="project-link">
                <div class="card mt-5">
                    <img src="image/nslab_heineken.jpg" class="img-442" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">HEINEKEN</h5>
                        <p class="card-text">По нашей рекомендации клиентом был выбран формат </b>Slide Ad.</b>Мы были уверены в данном формате! В итоге нам удалось перевыполнить поставленный KPI.</p>
                        <p class="card-text"><small class="text-muted">  </small></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="w-100 d-flex">
        <a href="#" class="btn btn-main mx-auto my-5 viewProject">Больше проектов</a>
    </div>
</div>