
@font-face {
	font-family: "Cera Pro";
	src: url("../assets/fonts/CeraPro-Regular.woff") format('woff');
  font-weight: normal;
}

body{
  font-family: "Cera Pro";
  color:#fff;
	background-image: url('../assets/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 overflow: hidden;
}
/* --------------------------------------------- */

.lego{
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.lego--top{
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 10px;
}

.lego__slider{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.lego__item{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

#body_right .lego__item{
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.lego__item.active{
	opacity: 1;
}

.lego__item--top{
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.lego__item--top_left{
	position: absolute;
	left: 0;
	bottom: 0;
  width: 30%;
  height: auto;
	-o-object-fit: contain;
	   object-fit: contain;
	z-index: 5;
}

.lego__item--2 .lego__item--top_left,.lego__item--4 .lego__item--top_left,.lego__item--5 .lego__item--top_left{
  height: 100%;
  width: 50%;
}

.lego__item--top.lego__item--3 .lego__item--top_right{
  height: 75%;
}

.lego__item--1 .lego__item--top_right{
	right: 0;
	top: 0;
	bottom:auto;
	height: auto;
	width: 30%;
}

.lego__item--4 .lego__item--top_right{
  width: 30%;
  height: 70%;
  top: 15%;
  right: 0%;
	-o-object-fit: contain;
	   object-fit: contain;
}

.lego__item--top_right{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	z-index: 5;
}

.lego__item--top_middle{
	position: absolute;
	right: 25%;
	bottom: 0;
	width: 30%;
	z-index: 5;
}

.lego__item--header{
	position: relative;
	z-index: 99;
	width: 40%;
}

.lego__cloud{
	position: absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	right:auto;
}

.lego__cloud--1{
	top: 15%;
	width: 75px;
	-webkit-animation: move-left 15s infinite linear;
	        animation: move-left 15s infinite linear;
}

.lego__cloud--2{
	bottom: 15%;
	width: 70px;
	-webkit-transform: translateX(-50%) scaleX(-1);
	    -ms-transform: translateX(-50%) scaleX(-1);
	        transform: translateX(-50%) scaleX(-1);
	-webkit-animation: move-right 16s infinite linear;
	        animation: move-right 16s infinite linear;
}

@-webkit-keyframes move-left{
  0%{
    left:50%;
  }
	25%{
    left:15%;
  }
  50%{
    left:50%;
  }
  75% {
  	left:85%;
  }
	100% {
  	left:50%;
  }
}

@keyframes move-left{
  0%{
    left:50%;
  }
	25%{
    left:15%;
  }
  50%{
    left:50%;
  }
  75% {
  	left:85%;
  }
	100% {
  	left:50%;
  }
}

@-webkit-keyframes move-right{
  0%{
    left:50%;
  }
	25%{
    left:85%;
  }
  50%{
    left:50%;
  }
  75% {
  	left:15%;
  }
	100% {
  	left:50%;
  }
}

@keyframes move-right{
  0%{
    left:50%;
  }
	25%{
    left:85%;
  }
  50%{
    left:50%;
  }
  75% {
  	left:15%;
  }
	100% {
  	left:50%;
  }
}

.lego--side{
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
	padding: 10px;
	height: 100%;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.lego__logo{
	position: absolute;
	width: 75px;
	left: 15px;
	top: 15px;
}

.lego__item--left{
	position: absolute;
	bottom: 0;
	left:50%;
	-o-object-fit: contain;
	   object-fit: contain;
	width: 115%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	max-height: 40%;
	object-fit: contain;
}

.lego__item--kid{
	width: 60%;
	position: absolute;
	bottom: 0;
	right:5px;
	max-height: 48%;
	-o-object-fit: contain;
	   object-fit: contain;
}

.lego__item--2 .lego__item--kid{
	width:50%;
}

.lego__item--4 .lego__item--kid{
	width:75%;
	bottom: 10px;
}

.lego--side .lego__item--header{
	top: 80px;
	width: 70%;
	left: 15%;
	position: absolute;
}

.lego__rtw{
	position: absolute;
	right: 10px;
	bottom: 35px;
	width: 100px;
	z-index: 99;
}

.lego__legal{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	width: 100%;
	z-index: 99;
	text-align: left;
	font-size: 9px;
	text-shadow: 0px 0px 3px rgba(0,0,0,1);
}

.lego__clouds{
	top: 5%;
	height: 35%;
	left: 0;
	right: 0;
	position: absolute;
}

.lego__item--right-1{
	position: absolute;
	top: 30%;
	width: 40%;
	max-width: 200px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.lego__item--1 .lego__item--right-3{
	bottom: 13%;
	position: absolute;
	width: 95%;
	max-width: 200px;
}
.lego__item--2 .lego__item--right-1,.lego__item--5 .lego__item--right-1{
	top:5%;
	max-width: 300px;
	position: absolute;
	width: 50%;
	left:50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-animation: movement 14s infinite linear;
	        animation: movement 14s infinite linear;
	-webkit-transition: 1.5s;
	-o-transition: 1.5s;
	transition: 1.5s;
}
.lego__item--5 .lego__item--right-1{
	max-width: 150px;
}
@-webkit-keyframes movement{
  0%{
    left:50%;
		top:5%;
  }
	15%{
    left:40%;
		top:10%;
  }
  30%{
    left:30%;
		top:15%;
  }
  60% {
  	left:70%;
		top:15%;
  }
	80% {
  	left:60%;
		top:10%;
  }
	100% {
  	left:50%;
		top:5%;
  }
}
@keyframes movement{
  0%{
    left:50%;
		top:5%;
  }
	15%{
    left:40%;
		top:10%;
  }
  30%{
    left:30%;
		top:15%;
  }
  60% {
  	left:70%;
		top:15%;
  }
	80% {
  	left:60%;
		top:10%;
  }
	100% {
  	left:50%;
		top:5%;
  }
}
.lego__item--2 .lego__item--right-3,.lego__item--4 .lego__item--right-3,.lego__item--5 .lego__item--right-3{
	bottom: 12%;
	position: absolute;
	width: 95%;
	max-width: 200px;
}

.lego__item--3 .lego__item--right-1,.lego__item--4 .lego__item--right-1{
	top:2%;
	right: 0;
	width: 70%;
	max-width: 300px;
	-o-object-fit: contain;
	   object-fit: contain;
	position: absolute;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	left: auto;
	z-index: 2;
}

.lego__item--3 .lego__item--right-3{
	bottom: 0;
	right: 0;
	width: 70%;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
	left: auto;
	position: absolute;
}

.lego__cta{
	position: absolute;
	top: 43%;
	width: 100%;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 999;
}

.lego__cta p{
	padding: 10px 15px;
	background: #fff;
	font-size: 18px;
	color:#000;
	border-radius: 4px;
	line-height: 20px;
}

.lego__cta svg{
	height: 14px;
	width: 14px;
	position: relative;
	top: 2px;
}

.fade_top{
  opacity: 0;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.fade_left{
  opacity: 0;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.fade_right{
  opacity: 0;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.fade_bottom{
  opacity: 0;
  -webkit-transform: translateY(80px);
      -ms-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.faded{
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-transition: .6s !important;
  -o-transition: .6s !important;
  transition: .6s !important;
}

.pulse{
  -webkit-animation: heart-pulse 1.5s infinite ease-out;
          animation: heart-pulse 1.5s infinite ease-out;
}

@-webkit-keyframes heart-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.over{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.over.active{
  opacity: 1;
}

.lego--bottom{
  padding: 12px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.lego--bottom .lego__cta{
  position: static;
  width: auto;
}

#body_bottom .lego__logo{
	z-index: 99;
	width: 45px;
	top: 12px;
	left: 12px;
}

.lego__box{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	padding-right: 120px;
	padding-left: 50px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.lego__box--header{
	width: 120px;
	position: absolute;
	right: 0;
}

.lego__box--main{
	width: 100%;
	max-width: 500px;
	height: 90%;
	-o-object-fit: contain;
	   object-fit: contain;
}

.lego__box--artnumber{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 12px;
}
@media screen and (max-width:359px){
  .lego__logo{
    width: 60px;
  }
}
