/*@font-face {*/
/*    font-family: 'Avenir';*/
/*    src: url('AvenirNextCyr-Light.ttf') format('truetype'), url('AvenirNextCyr-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Avenir';*/
/*    src: url('AvenirNextCyr-Regular.ttf') format('truetype'), url('AvenirNextCyr-Regular.woff') format('woff');*/
/*    font-weight: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Avenir';*/
/*    src: url('AvenirNextCyr-Medium.ttf') format('woff'), url('AvenirNextCyr-Medium.woff') format('woff');*/
/*    font-weight: 500;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Avenir';*/
/*    src: url('AvenirNextCyr-Demi.ttf') format('woff'), url('AvenirNextCyr-Demi.woff') format('woff');*/
/*    font-weight: 600;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Avenir';*/
/*    src: url('AvenirNextCyr-Bold.ttf') format('woff'), url('AvenirNextCyr-Bold.woff') format('woff');*/
/*    font-weight: bold;*/
/*}*/

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff') format('woff'),
    url('Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.ttf') format("truetype"), url('Montserrat-Light.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff') format('woff'),
    url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.woff') format('woff'),
    url('Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff') format('woff'),
    url('Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.woff') format('woff'),
    url('Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #000;
    color: #fff;
    padding-right: 0 !important;
}

button {
    box-shadow: none !important;
}

/* Header */

.header {
    width: 100%;
    /*min-height: 126px;*/
    transition: ease-in-out .3s;
    display: flex;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 0;
    margin-top: 30px;
    background: rgba(0, 0, 0, .85);
}


.bg-hey {
    background-image: url("../../image/bg_1_6 1.png");
    z-index: 1;
    background-size: cover;
}
.header .navbar {
    width: 100%;
}

.header .navbar .nav-item {
    padding: 0 27px;
}

.navbar-indust {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header .navbar .nav-link {
    color: #ffffff;
    font-size: 17px;
    line-height: 1;
    transition: ease .2s;
    padding: 20px 0;
    font-weight: normal;
}


.btn-header {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    padding: 0 60px;
    line-height: 40px;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.btn-header:hover {
    opacity: 0.7;
}

.btn-send-more {
    background-color: #fff;
    color: #000;
    font-size: 17px;
    border-radius: 0;
    padding: 10px 50px;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 2.50s forwards;
}

.btn-send:hover {
    opacity: 0.7;
}

@media screen and (min-width: 992px) {
    .header .navbar .nav-link.active {
        border-bottom: 1px solid !important;
    }
    .header .navbar .nav-link.active:hover {
        opacity: .7;
    }
    .header .navbar-brand {
        opacity: 0;
        transform: translateY(-40px);
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 0.5s forwards;
    }
    .header .navbar-nav {
        opacity: 0;
        transform: translateY(-40px);
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1s forwards;
    }
    .header .btn-header {
        opacity: 0;
        transform: translateY(-40px);
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.5s forwards;
    }
}

/* Section */

.section {
    z-index: 50;
    position: relative;
}

.middle-search {
    display: flex;
}

.text-side {
    display: flex;
    padding-bottom: 60px;
}

.pb-sm-text {
    padding-bottom: 140px;
}

.section--title-l {
    position: relative;
    color: #5786CC;
    font-size: 34px;

}

.section--text-l {
    font-size: 17px;
    line-height: 21px;
    color: black;
    font-weight: normal;
    opacity: 0.8;
}

.catalogue-head {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    padding-top: 45px;
    padding-bottom: 20px;
}

.section--title-r {
    color: #3869b9;
}
.section--title-inn {
     color: #3869b9;
 }

.cat-card-middle {
    position: relative;
    width: 100%;
    height: 330px;
    background-size: cover;
    filter: saturate(0.3);
    transition: .4s ease all;
}

.cat-card-middle:hover {
    filter: saturate(1);
    transition: .4s ease all
}

.card-middle-click:hover {
    background-color: white;
    opacity: .5;
}

.cat-card-info.info-2 {
    padding-top: 20%;
}

.gallery-link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
    transition: ease .6s all;
}
.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 133, 255, 0.9);
    z-index: 1;
    opacity: 0;
    transition: ease .8s all;
}

.service-card:hover .gallery-overlay {
    opacity: 1;
}
.service-card:hover .gallery-link {
    opacity: 1;
    transform: translateY(0);
}
.gellery-page .modal-backdrop.show {
    opacity: 1 !important;
}



.card-middle-click {
    color: white;
    text-decoration: none;
}

.card-middle-click:hover {
    color: white;
}



.services {
    position: relative;
}
.service-card {
    width: 100%;
    height: 254px;
    background-size: cover;
    position: relative;
}

.services-head {
    padding-bottom: 200px;
}

.shop-section {
    padding-bottom: 160px;
}

.shop-content {
    width: 100%;
    height: 326px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
}



.shop-content:hover {
    transform: scale(1.2);

}

.pic-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../image/1pic_hov.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    transition: .3s ease all;

}

.shop-value {
    position: relative;
}

.shop-value span {
    position: absolute;
    z-index: 9;
    margin-left: 1.5rem;
    margin-top: 8rem;
}

.shop-content:hover .pic-overlay {
    opacity: 1;
    transition: .3s ease all;

}

.pic-overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../image/2pic_hov.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    transition: ease .8s all;
}

.pic-overlay-1 span {
    position: absolute;
    top: 140px;
    left: 1.5rem;
    right: 0;
    bottom: 0;
}

.shop-content:hover .pic-overlay-1 {
    opacity: 1;
}

.pic-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../image/2k.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    transition: ease .8s all;
}

.pic-overlay-2 span {
    position: absolute;
    top: 140px;
    left: 1.5rem;
    right: 0;
    bottom: 0;
}

.shop-content:hover .pic-overlay-2 {
    opacity: 1;
}



.shop-text {
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    text-decoration: none;

}

.shop-section a {
    text-decoration: none;
    overflow: hidden;
}

.shop-value {
    overflow: hidden;
}

.service-a {
    height: 330px;
}

.owl-nav {
    position: absolute;
    top: -177px;
    right: 20px;
}

.owl-services {
    padding-bottom: 80px;
}


.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url('../../image/arrow_left.svg') no-repeat scroll 0 0;
    left: -50px;
}
.owl-carousel .next-slide{
    background: url('../../image/arrow_rght.svg')  no-repeat scroll 0 0;
}
.cat-card-middle p {
    color: white;
}

.card-inner-head {
    list-style: none;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.head-name-control {
    position: relative;
}

/*.cat-card-middle span.pomp {*/
/*    position: absolute;*/
/*    left: 32px;*/
/*    top: 150px;*/
/*    font-family: 'Inter',sans-serif;*/
/*    font-size: 20px;*/
/*    font-weight: normal;*/
/*    transition: .3s ease all;*/
/*    opacity: 1;*/
/*}*/

/*.cat-card-middle:hover span.pomp {*/
/*    transition: .3s ease all;*/
/*    opacity: 0;*/
/*}*/

.cat-card-middle .first-span {
    position: absolute;
    left: 32px;
    top: 150px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: normal;
    transition: .5s ease all;
    opacity: 1;
}

.cat-card-middle .other-span {
    position: absolute;
    left: 32px;
    top: 100px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: normal;
    transition: .5s ease all;
    opacity: 1;
}

.cat-card-middle:hover .other-span {
    transition: .5s ease all;
    opacity: 0;
}

.cat-card-middle:hover .first-span {
    transition: .5s ease all;
    opacity: 0;
}

.head-card-inner {
    list-style: none;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.card-inner-txt {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
}


.section-txt-const {
    font-size: 26px;
    font-weight: normal;
    color: black;
}

.construction-photo {
    width: 100%;

}

.about-const {
    background: #fff;
    position: relative;
}
/*.content-b {*/
/*    padding-right: 0;*/
/*    background-image: url(../../image/const_img.png);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.const-img {
    position: absolute;
    right: 0px;
    top: -20%;
    /*height: -webkit-fill-available;*/
    height: 120%;
}

.desc-area {
    padding-top: 100px;
}

.big-num {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 43px;
    color: white;
}

.desc-text {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 2px;
}

.work-header {
    padding: 80px 0;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 54px;
    text-align: center;
}

.union {
    min-width: 100%;
    width: 100%;
    padding-bottom: 95px;
}

/*.section--title-l:after {*/
/*    position: absolute;*/
/*    content: url(../image/vacancies.svg);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    left: 54px;*/
/*    top: 160px;*/
/*}*/

.middle--line {
    background-color: #3869b9;
    height: 1px;
    max-width: 90px;
    width: 80%;
    top: 100px;
    left: 0;
    position: relative;
    opacity: 0;
    transform: translateX(-40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.6s forwards;
}

.section--title, .section--title-l, .section--title-r, .section--title-inn {
    padding-top: 80px;
    padding-bottom: 50px;
    margin: 0;
    font-weight: normal;
    font-size: 34px;
    padding-left: 50px;
}

.section-title-complex {
    padding-left: 35px;
}

.contacts-title-l {
    padding-left: 0;
}

.inner-todo-box {
    margin-left: 40px;
}

.accordion-body {
    padding: 0;
}

.accordion-item {
    border: none;
}

.border-content {
    position: relative;
}

.border-content::before {
    position: absolute;
    content: 'ВАКАНСИИ';
    font-size: 24px;
    font-weight: 300;
    bottom: 45px;
    color: black;
    transform: rotate(
            -90deg
    );
    left: 125px;
}

.border-content::after {
    position: absolute;
    content: '';
    top: 0;
    left: 162px;
    width: 1px;
    height: 100%;
    background-color: black;
    color: black;
}


.accordion-button {
    font-size: 24px;
    font-weight: 300;
    text-decoration: underline;
    padding: 0;
    padding-bottom: 5px;
}
.accordion-button .collapsed {
    color: #0a53be;
}

.accordion-button:hover {
    color: #0a53be;
}


.accordion-button::after {
    display: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #0a53be;
}

.inner-todo-box {
    margin-bottom: 30px;
}
.middle-inner-head, .bottom-inner-head {
    font-size: 36px;
    font-weight: 400;
    color: rgba(0,0,0,0.91);
}

.middle-inner-list {
    font-size: 24px;
    text-decoration: underline;
    padding-left: 0;
    padding-top: 20px;
    font-weight: 300;
    list-style: none;
    color: black;
}

.middle-inner-items:last-child {
    color: #0a53be;
    padding-top: 10px;
}

.todo-list {
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
}

.todo-list-inner {
    padding-left: 15px;
}

.todo-list-inner-b li + li {
    padding-top: 15px;
}

.todo-items {
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    font-weight: 300;
    list-style-type: '-   ';
}

.todo-items-b {
    color: black;
    font-size: 16px;
    font-weight: 300;
    list-style-type: '-   ';
}

.section--title-inn {
    position: relative;
}

.section--title-inn::after {
    position: absolute;
    content: url(../image/pluski.svg);
    width: 100%;
    height: 100%;
    left: 54px;
    top: 192px;
}

.middle-inner-line {
    background-color: black;
    height: 1px;
    max-width: 140px;
    width: 100%;
    top: 20px;
    left: 0;
    position: relative;
    opacity: 0;
    transform: translateX(-40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.6s forwards;
}

.bottom-inner-line {
    background-color: black;
    height: 1px;
    max-width: 140px;
    width: 100%;
    top: 20px;
    left: 0;
    position: relative;
    opacity: 0;
    transform: translateX(-40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.6s forwards;
}



.btn-main {
    font-weight: 500;
    background-color: #000;
    color: #fff !important;
    padding: 0 32px;
    line-height: 50px;
    border-radius: 0;
    transition: ease .2s;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Home Section */

.home-box {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
}

.home-box--col {
    width: 9.7%;
}

.home-box--container {
    max-width: 91.6%;
    width: 91.6%;
}

.home--line {
    background-color: #FFFFFF;
    height: 1px;
    max-width: 90px;
    width: 80%;
    top: 32px;
    left: 0;
    position: relative;
    opacity: 0;
    transform: translateX(-40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.6s forwards;
}

.home--bitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    line-height: 41px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.75s forwards;
}

.home--bittle-head {
    font-size: 26px;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 2s forwards;
    padding-top: 25px;
}

.home--bitle-head-2 {
    font-size: 17px;
    line-height: 26px;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 2.25s forwards;


}

.home--title span {
    font-weight: 100;
}

.home-box-2 {
    padding-left: 9.7%;
    max-width: 91.6%;
    width: 91.6%;
    display: flex;
    margin-bottom: 135px;
}

.home--text {
    line-height: 1.2;
    margin-bottom: 0;
    padding-right: 54px;
    font-size: 16px;
    font-weight: 300;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.9s forwards;
}

.home-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 2.1s forwards;
}

.home--number {
    font-size: 48px;
    line-height: 59px;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 12px;
}

/* SLider */

.slider {
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 2.3s forwards;
}

.slider-tabs {
    width: 100%;
    display: flex;
}

.tab {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 17px;
    line-height: 1.35;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    transition: color ease .2s, background-color ease .2s;
}

.tabs-top {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    transform: translateY(-100%);
    opacity: 0;
    transition: ease .3s;
}

.tabs-top.toop {
    opacity: 1;
    transform: translateY(0);
}

.tab:not(.active):hover {
    opacity: .7;
}

.tab span {
    display: inline-block;
    padding: 12px 0 17px;
    transition: ease .2s;
    border-bottom: 1px solid transparent;
}

.tab::before {
    content: '';
    position: absolute;
    right: -1px;
    width: 1px;
    height: 18px;
    top: 15px;
    background-color: #fff;
    transition: ease .2s;
}

.tab:last-child:before {
    display: none;
}

.tab.active {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(80px);
}

.tab.active::before,
.tab.nobord::before {
    display: none;
}

.slider-content {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 70px;
    margin-bottom: 100px;
    background-color: rgb(255 255 255 / 10%);
    transition: ease .2s;
    backdrop-filter: blur(80px);
}

.slider-item {
    display: none;
}

.slider-item.current {
    display: block;
}

.slider-item-header {
    font-size: 36px;
    line-height: 40px;
}

.slider--title u.slider--title-icon {
    font-size: 28px;
    text-decoration: none;
}

.slider--text {
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    transform: translateY(-20px);
}

.current .slider--text {
    animation: fade 0.75s ease 0.5s forwards;
}

.slider-image-box {
    width: 100%;
    padding: 0 20px;
    height: 100%;
    display: flex;
}

.slider--image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.current .slider--image {
    animation: fade 1s ease forwards;
}


.arrow-content {
    position: relative;
}

.arrow-content::after {
    position: absolute;
    content: url(../image/left-arrow.svg);
    display: block;
    width: 100%;
    height: 100%;
    bottom: 40px;

}
/* Backgrounds */

.all {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.bg-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease .5s;
}

.bg-item.vise {
    opacity: 1;
}

.bg-item img {
    position: absolute;
}

.bg-1-1 {
    width: 50%;
    bottom: -20%;
    left: -25%;
    animation: bg-1-1 10s linear infinite;
}

.bg-1-2 {
    width: 50%;
    top: 0;
    left: -25%;
    animation: bg-1-2 20s linear infinite;
}

.bg-1-3 {
    width: 200%;
    bottom: -60%;
    left: -50%;
    animation: bg-1-3 20s linear infinite;
    z-index: 10;
}

.bg-1-4 {
    width: 100%;
    bottom: 0;
    left: -20%;
    animation: bg-1-4 20s linear infinite;
    z-index: 9;
}

.bg-1-5 {
    width: 70%;
    bottom: 0;
    right: 0;
    ;
    animation: bg-1-4 15s linear infinite;
    z-index: 5;
}

.bg-2-2 {
    width: 50%;
    top: 0;
    left: -10%;
    animation: bg-1-2 20s linear infinite;
}

.bg-3-1 {
    width: 175%;
    bottom: -50%;
    left: -50%;
    animation: bg-3-1 30s linear infinite;
}

/* Project */

.project {
    background-color: #fff;
}

.project-link {
    display: block;
    text-decoration: none;
    color: #000 !important;
    opacity: 0;
    transform: translateY(40px);
}

.project-link.pro-show {
    -webkit-animation: fade 1s cubic-bezier(.19, 1, .22, 1) forwards;
    animation: fade 1s cubic-bezier(.19, 1, .22, 1) forwards;
}

.project .card {
    border: none;
}

.project .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: ease .4s;
}

.project .card:hover:before {
    opacity: 0.5;
}

.project .card-number {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    position: absolute;
    top: -22px;
    left: 40px;
}

.project .card-title {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #1c1c1c !important;
}

.project .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 29px;
    position: relative;
    background-color: #fff;
}

.project .card-text {
    font-size: 18px;
    line-height: 22px;
}

.project-item {
    display: none;
}

.InnovationLab .project-InnovationLab,
.Inlab .project-Inlab,
.NSLab .project-NSLab,
.CATs .project-CATs,
.FoxDigital .project-FoxDigital,
.Locrum .project-Locrum {
    display: block;
}

/* Team */

.in-head-text {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 80px;
}

.in-box {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    height: 100%;
}

.in-box::after {
    position: absolute;
    content: '';
    width: 90px;
    top: 30px;
    right: -30px;
    border: 1px solid #FFFFFF;
    transform: rotate(
            -90deg
    );
}

.inner-in-box {
    padding: 10px 15px;
}

.in-box-head {
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.in-box-text {
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px 0 0;
}

.team .section--title-line {
    background-color: #fff !important;
}

.team .section--title {
    color: #fff !important;
    padding-top: 80px;
    padding-bottom: 80px;
}

.team-item {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: none;
    background: linear-gradient(0deg, rgba(255, 65, 97, 0.03), rgba(255, 65, 97, 0.03)), rgba(255, 255, 255, 0.05);
}



.InnovationLab .team-InnovationLab,
.Inlab .team-Inlab,
.NSLab .team-NSLab,
.CATs .team-CATs,
.FoxDigital .team-FoxDigital,
.Locrum .team-Locrum {
    display: block;
}

.team-box {
    max-width: 200px;
    width: 18%;
}

.team-box--title {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 30px;
    opacity: 0;
    transition: ease .25s;
}

.team-box--image {
    width: 120%;
    border-radius: 100%;
    border: 3px solid transparent;
    filter: grayscale(1);
    margin-bottom: 50%;
    transition: ease .25s;
}

.team-box--text {
    text-align: center;
    display: block;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 18px;
    opacity: 0;
    transition: ease .25s;
}

.team-box--link {
    padding: 5px;
    opacity: 0;
    transition: ease .25s;
}

.team-box--link-icon {
    width: 14px;
    height: 14px;
}

.team-box:hover .team-box--title,
.team-box:hover .team-box--text,
.team-box:hover .team-box--link {
    opacity: 1;
}

.team-line {
    max-width: 90px;
    width: 30%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 50px;
}

.team-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.055em;
    margin-bottom: 50px;
}

.offers-content {
    margin-top: 200px;
}

.offers-text-content {
    padding-top: 30px;
}

.offers-img-first {
    position: relative;
}

.offers-img-first::after {
    position: absolute;
    content: '01';
    font-size: 36px;
    color: white;
    top: -24px;
    left: 40px;
}

.offers-img-first::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: white;
    left: 244px;
    top: 50px;
}
.offers-img {
    text-align: right;
    position: relative;
    top: -50px;
}

.offers-img::after {
    position: absolute;
    content: '02';
    font-size: 36px;
    color: white;
    top: -24px;
    right: 160px;
}

.offers-img::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: white;
    right: 244px;
    top: 50px;
}

.offers-img-last {
    text-align: right;
    position: relative;
    top: -100px;
}

.offers-img-last::after {
    position: absolute;
    content: '04';
    font-size: 36px;
    color: white;
    top: -24px;
    right: 160px;
}

.contact-form select {
    background-color: transparent;
    background-image: url("../image/vector_select.svg");
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    line-height: 44px;
}

.contact-form .form-upload {
    background-image: url("../image/plus.svg") ;
}

.offers-img-last::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: white;
    right: 244px;
    top: 50px;
}

.offers-img-a {
    text-align: left;
    position: relative;
    top: -80px;
}

.offers-img-a::after {
    position: absolute;
    content: '03';
    font-size: 36px;
    color: white;
    top: -24px;
    left: 40px;
}

.offers-img-a::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color: white;
    left: 244px;
    top: 50px;
}

.offers-inner-head {
    font-size: 24px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
    text-align: right;
}

.offers-inner-head-b {
    font-size: 24px;
    font-weight: 400;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
}

.offers-inner-text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    padding-left: 50px;
}

.offers-inner-text-b {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.about-text-header {
    font-size: 34px;
    font-weight: 300;
    color: black;
    margin-bottom: 50px;
}

.about-text {
    font-size: 26px;
    font-weight: 300;
    color: black;
    line-height: 32px;
}

.about-text-a {
    line-height: 32px;
    font-size: 26px;
    font-weight: 300;
    padding-top: 30px;
    color: black;
}

.about-img-content {
    position: relative;
}

.about-img-content::after {
    position: absolute;
    content: url(../image/mountar.png);
    width: 100%;
    height: 100%;
    left: -150px;
    top: 250px;
}

.inlab-small-text {
    font-size: 16px;
    font-weight: 300;
    color: black;
    padding-right: 160px;
    padding-top: 170px;
}

.inlab-atribute {
    font-size: 16px;
    font-weight: 300;
}
.inlab-atribute a {
    color: rgba(0, 0, 0, 0.65);
}

/* Partners */

.partners {
    background-color: #fff;
}

.partner-item {
    display: flex;
    width: 20%;
    margin-bottom: 40px;
}

.partner-item--image {
    margin-left: auto;
    margin-right: auto;
    max-height: 30px;
    max-width: 80%;
    object-fit: contain;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.partner-item--image:hover {
    filter: grayscale(0);
}

.partners-l {
    display: none;
}

.InnovationLab .partners-InnovationLab,
.Inlab .partners-Inlab,
.NSLab .partners-NSLab,
.CATs .partners-CATs,
.FoxDigital .partners-FoxDigital,
.Locrum .partners-Locrum {
    display: block;
}

/* Modal Call */

body.modal-open {
    padding-right: 0;
    overflow: visible !important;
}

.modal-call .modal-title {
    color: #000000;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.055em;
    width: 100%;
}

.modal-call .modal-content {
    padding: 40px 45px;
    border-radius: 0;
}

.modal-call .modal-header {
    border: none;
    padding: 0;
    text-align: center;
}

.modal-call .btn-close {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    color: #fff;
    width: 24px;
    height: 24px;
    opacity: 1;
    background-image: url('../image/close.svg');
    background-size: 80% 80%;
}

.modal-call .btn-close:hover {
    opacity: 0.7;
}

.modal-call .form-control {
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    border-bottom: 1px solid #000000;
    height: 60px;
    padding: 0;
    font-size: 16px;
    line-height: 1.33;
}

.modal-call .btn-main {
    line-height: 44px;
    width: 100%;
    text-align: center;
}

.modal-call .btn-main:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Media */

.media {
    background-color: #fff;
    padding-bottom: 90px;
}

.media .card {
    border: none;
}

.media-item {
    display: none;
}

.media--image {
    max-width: 206px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.media .card-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.media .card-title {
    color: #1c1c1c;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.35;
}

.media .card-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    margin-top: 19px;
    line-height: 20px;
}

.media .card-date {
    margin-top: auto;
}

.media .nav-item .nav-link {
    background-color: transparent;
    padding: 0 0 30px;
    color: #000;
    opacity: 0.5;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    outline: none !important;
}

.media .nav-item .nav-link.active {
    font-size: 36px;
    font-weight: 500;
    opacity: 1;
    border-color: #000;
}

.InnovationLab .media-InnovationLab,
.Inlab .media-Inlab,
.NSLab .media-NSLab,
.CATs .media-CATs,
.FoxDigital .media-FoxDigital,
.Locrum .media-Locrum {
    display: block;
}

/* Contact */

.contact .section--title {
    color: #fff !important;
}

.contact .section--title-line {
    background-color: #fff !important;
}

.contact--link {
    display: block;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #fff !important;
}

.contact--link:hover {
    opacity: 0.7;
}

.contact-info {
    margin-bottom: 44px;
    color: #fff;
    font-weight: 500;
}

.contact-social--link {
    color: #fff !important;
    text-decoration: none;
}

.contact-social--link:hover {
    opacity: 0.7;
}

.contact-form .form-control {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    line-height: 44px;
}

.contact-form .form-control::placeholder {
    color: #fff;
}


.contact-form .form-check-input {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    margin-right: 10px;
    box-shadow: none !important;
    cursor: pointer;
    transition: ease .2s;
}

.contact-form .form-check-input:checked {
    border-color: #fff;
}

.policy-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.policy-content .form-privacy {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.policy-content .form-privacy:focus {
    box-shadow: none;
}


.policy-link {
    color: #fff !important;
    text-decoration: none;
    font-weight: 500;
}

.policy-link:hover {
    opacity: 0.7;
}

.contact-form .btn-main {
    background-color: #fff;
    color: #000 !important;
    line-height: 40px !important;
    padding-left: 58px !important;
    padding-right: 58px !important;
}

.contact-form .btn-main:hover {
    color: #fff !important;
}

.contact-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: white;
    margin-bottom: 5px;
}

.contact-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: white;
}

.second-row {
    display: flex;
    align-items: normal;
    justify-content: end;
}

/* Footer */

.footer {
    z-index: 50;
    position: relative;
}

.footer-logo {
    max-height: 24px;
    max-width: 80%;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-nav--title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    display: block;
}

.footer-nav li {
    list-style-type: none;
    margin-bottom: 10px;
    opacity: 0.65;
}

.footer .form-control {
    border-radius: 0;
    border: none;
    padding: 0 10px 0 30px;
    box-shadow: none !important;
}

.footer .btn-white {
    border: none !important;
    background-color: #fff;
    padding: 0 28px 0 28px;
    height: 40px;
    border-radius: 0;
    display: flex;
}

.footer .btn-white:hover {
    opacity: 0.9;
}

.footer .btn-icon {
    width: 16px;
    height: 16px;
}

.footer--span {
    display: block;
    margin-top: 24.61px;
    opacity: 0.65;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.main-link {
    color: #fff !important;
    text-decoration: none;
}

.main-link:hover {
    opacity: 0.7;
}

/* Colors */

.InnovationLab .section--title,
.InnovationLab .slider--title:hover,
.InnovationLab .team-box--link:hover,
.InnovationLab .header .nav-link.active,
.InnovationLab .header .nav-link:hover {
    color: #00B2FF;
}

.InnovationLab .section--title {
    color: #3869b9;
}

.Inlab .section--title,
.Inlab .slider--title:hover,
.Inlab .team-box--link:hover,
.Inlab .header .nav-link.active,
.Inlab .header .nav-link:hover {
    color: #BE96FF;
}

.NSLab .section--title,
.NSLab .slider--title:hover,
.NSLab .team-box--link:hover,
.NSLab .header .nav-link.active,
.NSLab .header .nav-link:hover {
    color: #FF4161;
}

.CATs .section--title,
.CATs .slider--title:hover,
.CATs .team-box--link:hover,
.CATs .header .nav-link.active,
.CATs .header .nav-link:hover {
    color: #BC6FF1;
}

.FoxDigital .section--title,
.FoxDigital .slider--title:hover,
.FoxDigital .team-box--link:hover,
.FoxDigital .header .nav-link.active,
.FoxDigital .header .nav-link:hover {
    color: #FF0000;
}

.Locrum .section--title,
.Locrum .slider--title:hover,
.Locrum .team-box--link:hover,
.Locrum .header .nav-link.active,
.Locrum .header .nav-link:hover {
    color: #32E0C4;
}

.InnovationLab .btn-main:hover,
.InnovationLab .section--title-line,
.InnovationLab .project .card::before {
    background-color: #00B2FF;
}

.InnovationLab .section--title-line,
.InnovationLab .project .card::before {
    background-color: #3869b9;
}

.Inlab .btn-main:hover,
.Inlab .section--title-line,
.Inlab .project .card::before {
    background-color: #BE96FF;
}

.NSLab .btn-main:hover,
.NSLab .section--title-line,
.NSLab .project .card::before {
    background-color: #FF4161;
}

.CATs .btn-main:hover,
.CATs .section--title-line,
.CATs .project .card::before {
    background-color: #BC6FF1;
}

.FoxDigital .btn-main:hover,
.FoxDigital .section--title-line,
.FoxDigital .project .card::before {
    background-color: #FF0000;
}

.Locrum .btn-main:hover,
.Locrum .section--title-line,
.Locrum .project .card::before {
    background-color: #32E0C4;
}

.InnovationLab .team-box--link:hover .team-box--link-icon {
    fill: #00B2FF;
}

.Inlab .team-box--link:hover .team-box--link-icon {
    fill: #BE96FF;
}

.NSLab .team-box--link:hover .team-box--link-icon {
    fill: #FF4161;
}

.CATs .team-box--link:hover .team-box--link-icon {
    fill: #BC6FF1;
}

.FoxDigital .team-box--link:hover .team-box--link-icon {
    fill: #FF0000;
}

.Locrum .team-box--link:hover .team-box--link-icon {
    fill: #32E0C4;
}

/* Grid */

@media (min-width: 1400px) {
    .container {
        width: calc(100% - 140px);
        max-width: calc(100% - 140px);
    }

}

/* Backgrounds */

.bg2-1-2-header {
   width: 150%;
    bottom: -30%;
    right: -20%;
    animation: bg2-1-2 20s linear infinite;
    z-index: 10;
}

.bg2-1-2-slip {
    width: 100%;
    top: -8rem;
    /*animation: bg2-1-2 20s linear infinite;*/
}


.bg2-1-1-header {
    width: 110%;
    top: -30%;
    animation: bg2-1-1 20s linear infinite;
    z-index: -11;
}

.bg2-2-1-header {
    width: 120%;
    top: -50%;
    left: -20%;
    animation: bg2-2-1 20s linear infinite;
    z-index: -11;
}

.bg2-1-1 {
    width: 200%;
    top: -50%;
    left: -60%;
    animation: bg2-1-1 20s linear infinite;
    z-index: 10;
}

/*.bg2-1-1_form {*/
/*    width: 200%;*/
/*    top: -140%;*/
/*    left: -60%;*/
/*    animation: bg2-1-1 20s linear infinite;*/
/*    z-index: -11;*/
/*}*/

/*.bg2-1-1_forms {*/
/*    width: 100%;*/
/*    top: 0%;*/
/*    left: 0%;*/
/*    !*animation: bg2-1-1 20s linear infinite;*!*/
/*    z-index: -11;*/
/*}*/

.bg2-1-1_formsa {
    width: 104%;
    top: 0;
    left: 0%;
    /*animation: bg2-1-1 20s linear infinite;*/
    z-index: -11;
    opacity: 0.8;
}

.bg2-1-1_formsa_1 {
    width: 106%;
    top: 0;
    opacity: 0.7;
    left: 0%;
    /*animation: bg2-1-1 20s linear infinite;*/
    z-index: -11;
}



.bg2-1-1_forms-a {
    width: 100%;
    top: 0%;
    left: 0%;
    /*animation: bg2-1-1 20s linear infinite;*/
    z-index: -10;
}

.bg2-1-2 {
    width: 200%;
    bottom: -30%;
    right: -50%;
    animation: bg2-1-2 20s linear infinite;
    z-index: 10;
}

.bg2-1-2_form {
    width: 200%;
    bottom: -80%;
    right: -50%;
    animation: bg2-1-2 20s linear infinite;
    z-index: 10;
}

.bg2-2-2 {
    width: 200%;
    bottom: -80%;
    right: -50%;
    animation: bg2-1-2 20s linear infinite;
    z-index: 10;
}

/*.bg3-1-1 {*/
/*    width: 200%;*/
/*    top: -100%;*/
/*    left: -50%;*/
/*    animation: bg2-1-1 20s linear infinite;*/
/*    z-index: 10;*/
/*}*/
.bg3-1-1foot {
    width: 100%;
    top: -60%;
    left: 0;
    /*animation: bg2-1-1 20s linear infinite;*/
    z-index: 10;
}
/* Keyframes */

@keyframes fade {
    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1.0);
    }
}

@keyframes bg-1-1 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(-122px) translateY(-112px) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg-1-2 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: translateX(15%) translateY(-10%) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(30%) translateY(10%) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg-1-3 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: translateX(10%) translateY(-5%) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(20%) translateY(0) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg-1-4 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: translateX(10%) translateY(5%) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(5%) translateY(10%) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg-3-1 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: translateX(5%) translateY(-5%) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(10%) translateY(0) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg2-1-2 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: translateX(-5%) translateY(5%) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(-10%) translateY(0) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes bg2-1-1 {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
    25% {
        transform: translateX(5%) translateY(-5%) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translateX(10%) translateY(0) rotate(0deg) scale(1, 1);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}

/* Breakpoints */

@media (max-width: 1579.98px) {

    .const-img {
        height: 120%;
        top: -20%;
    }

}

@media (max-width: 575.99px) {

    .bg3-1-1foot {
        width: 220%;
        top: 0;
        left: -10%;
        z-index: 10;
    }

    .shop-section {
        padding-bottom: 20px;
    }

    .catalogue-head {
        padding:0;
    }

    .home--bitle-head-2 {
        font-size: 16px;
    }

    .home-box--container {
        width: 100%;
        display: contents;
    }
    .header .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .text-side {
        padding-bottom: 10px;
        flex-direction: column;
    }

    .owl-nav {
        top: -185px;
    }

    .section-title-doc {
        padding-top: 50px;
    }

    .services {
        position: relative;
        padding-bottom: 30px;
    }

    .union-list {
        display: flex;
        list-style: none;
    }

    .union-items-numbers span {
        font-family: 'Gotham',sans-serif;
        font-size: 25px;
        color: white;
        border: 5px solid white;
        padding: 5px 14px;
        border-radius: 35px;
    }

    .union-items-numbers-2 span {
        font-family: 'Gotham',sans-serif;
        font-size: 25px;
        color: white;
        border: 5px solid white;
        padding: 5px 12px;
        border-radius: 35px;
    }

    .union-items-text span {
        position: relative;
        top: -5px;
    }

    .work-header {
        padding: 50px 0;
    }

    .desc-area {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .union {
        display: none;
    }

    .const-img {
        display: none;
    }

    .cat-card-middle {
        margin-bottom: 40px;
    }
    .card-inner-head li {
        color: red;
    }



    .middle--line {
        display: none;
    }
    .section--title-l {
        padding: 30px 0 30px 0;
        font-size: 26px;
    }

    .about-us-section {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .bg2-1-1_formsa {
        display: none;
    }

    .bg2-1-1_formsa_2 {

    }

    .bg2-1-1_formsa_1 {
        display: none;
    }



    .bg2-1-2-slip {
        left: -20%;
        top: 25%;
    }

    .bg2-1-2_form {
        bottom: -10%;
        right: -40%;
    }

    .bg2-1-1_form {
        top: -20%;
    }

    .project {
        padding-bottom: 0;
    }

    .inlab-small-text {
        padding: 0;
        padding-top: 10px;
    }

    .team-item {
        padding: 20px 0;
        background-color: transparent;
    }

    .offers-inner-head, .offers-inner-text {
        text-align: left;
        padding-left: 0;
        padding-bottom: 0;
    }
    .offers-inner-head-b {
        padding-bottom: 0;
        padding-top: 10px;
    }

    .offers-text-content-b {
        top: 0;
    }

    .offers-img, .offers-img-first, .offers-img-a, .offers-img-last {
        display: none;
    }

    .offers-content {
        margin-top: 20px;
    }

    .in-head-text {
        margin-bottom: 50px;
    }

    .home--bittle-head {
        font-size: 22px;
    }

    .home--title {
        line-height: 1.2;
        font-size: 26px;
    }

    .middle-inner-line, .bottom-inner-line {
        display: none;
    }

    .slider-content {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .home-box {
        padding: 30px 0;
    }

    .slider-item {
        padding: 0 10px;
    }
    .bg2-1-1-header {
        width: 200%;
        top: 50%;
        right: 0px;
        animation: bg2-1-1 20s linear infinite;
        z-index: -11;
    }

    .bg2-1-2-header {
        width: 150%;
        bottom: 0%;
        right: -20%;
        animation: bg2-1-2 20s linear infinite;
        z-index: 10;
    }

    .section--title-inn::after {
        display: none;
    }

    .about-img-content img {
        width: 100%;
    }

    .section--title-l:after {
        display: none;
    }

    .about-img-content::after {
        display: none;
    }

    .modal-call .btn-close {
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 20px;
        color: #fff;
        width: 24px;
        height: 24px;
        opacity: 1;
        background-image: url('../image/close.svg');
        background-size: 80% 80%;
    }
    .bg3-1-1 {
        width: 200%;
        top: -25%;
        left: -50%;
        animation: bg2-1-1 20s linear infinite;
        z-index: 10;
    }
    .bg-1-3 {
        width: 400%;
        bottom: -15%;
        left: -50%;
        animation: bg-1-3 20s linear infinite;
        z-index: 10;
    }
    .slider--title {
        font-size: 32px;
    }
    .partner-item {
        width: 50%;
    }
    .media--image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .media-item .nav-item {
        width: 50%;
        min-height: 37px;
        margin-bottom: 20px;
    }
    .media-item .nav-item:nth-child(2n) .nav-link {
        margin-left: auto;
    }
    .modal-call .modal-title {
        font-size: 32px;
    }
    .footer-logo,
    .wvb {
        margin-left: 15px;
    }
    .bg-3-1 {
        width: 400%;
        bottom: -25%;
        left: -150%;
        animation: bg-3-1 30s linear infinite;
    }
    .bg2-1-1 {
        width: 200%;
        top: -6%;
        left: -50%;
        animation: bg2-1-1 20s linear infinite;
        z-index: 10;
    }
    .bg2-1-2 {
        width: 200%;
        bottom: 0;
        right: -50%;
        animation: bg2-1-2 20s linear infinite;
        z-index: 10;
    }
    .bg2-2-2 {
        width: 200%;
        bottom: 0;
        right: -50%;
        animation: bg2-1-2 20s linear infinite;
        z-index: 10;
    }
}

@media (max-width: 767.99px) {

    .bg2-1-2-slip {
        width: 300%;
    }

    .bg3-1-1 {
        width: 200%;
        top: -50%;
        left: -50%;
        animation: bg2-1-1 20s linear infinite;
        z-index: 10;
    }
    .home-box--col {
        display: none;
    }
    .home-box--container {
        width: 100%;
    }
    .home-box-2 {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
    .home--title {
        line-height: 1.2;
        font-size: 20px;
    }
    .media .nav-item .nav-link.active {
        font-size: 24px;
    }
}

@media (max-width: 991.99px) {
    .bg-3-1 {
        width: 175%;
        bottom: -25%;
        left: -50%;
        animation: bg-3-1 30s linear infinite;
    }
    .bg2-1-1 {
        width: 200%;
        top: -10%;
        left: -50%;
        animation: bg2-1-1 20s linear infinite;
        z-index: 10;
    }
    .bg2-1-2 {
        width: 200%;
        bottom: 0;
        right: -50%;
        animation: bg2-1-2 20s linear infinite;
        z-index: 10;
    }
    .bg2-2-2 {
        width: 200%;
        bottom: -20%;
        right: -50%;
        animation: bg2-1-2 20s linear infinite;
        z-index: 10;
    }
    body {
        padding-top: 64px;
    }
    .m-h {
        display: none
    }
    .header {
        min-height: 64px;
        position: fixed;
        top: -30px;
        left: 0;
        background: #000
    }
    .header .navbar {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .header .navbar .nav-link {
        text-align: center
    }
    .header .btn {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider-tabs {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab {
        flex-grow: 0;
        width: fit-content;
        padding: 10px 14px;
        background-color: #fff;
        color: #000;
        margin: 0 10px 20px;
        white-space: nowrap;
    }
    .tab span {
        padding: 0;
        border: none;
    }
    .tab::before {
        display: none;
    }
    .tab.active[data-id="1"] {
        color: #fff;
        background-color: #00B2FF;
    }
    .tab.active[data-id="2"] {
        color: #fff;
        background-color: #BE96FF;
    }
    .tab.active[data-id="3"] {
        color: #fff;
        background-color: #FF4161;
    }
    .tab.active[data-id="4"] {
        color: #fff;
        background-color: #BC6FF1;
    }
    .tab.active[data-id="5"] {
        color: #fff;
        background-color: #FF0000;
    }
    .tab.active[data-id="6"] {
        color: #fff;
        background-color: #32E0C4;
    }
    .slider--image {
        max-height: 180px;
        max-width: 60%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .slider-image-box {
        height: auto;
    }
    .slider-item {
        padding-left: 40px;
        padding-right: 40px;
    }
    .section--title-line {
        display: none
    }
    .team-box {
        max-width: 220px;
        width: 36%;
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 50px;
    }
    .team-box--image {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
    }
    .team-box--title,
    .team-box--text,
    .team-box--link {
        opacity: 1;
    }
    .wwf {
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
    .team-line {
        display: none
    }
    .od1 {
        order: 1;
    }
    .od2 {
        order: 2;
    }
    .team-subtitle {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 40px;
    }
    .media .nav-pills {
        align-items: flex-end !important;
    }
    .media .nav-item .nav-link {
        padding-bottom: 0;
    }
    .media .nav-item .nav-link.active {
        font-size: 30px;
        padding-bottom: 0;
    }
    .contact-form .btn-main {
        margin-left: 0 !important;
    }
    .footer-nav {
        display: none
    }
    .home--text {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .ht-1 {
        opacity: 0;
        transform: translateY(40px);
    }

    .team-st .ht-1 {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 0.5s forwards;
    }

    .inn-form {
        opacity: 0;
        transform: translateY(40px);
    }

    .team-st .inn-form {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 0.5s forwards;
    }

    .ac-1,
    .section--title-line {
        opacity: 0;
        transform: translateY(40px);
    }
    .contact-st .ac-1,
    .contact-st .section--title-line {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) forwards;
    }
    .ac-2 {
        opacity: 0;
        transform: translateY(40px);
    }
    .contact-st .ac-2 {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 0.5s forwards;
    }

    .ac-3 {
        opacity: 0;
        transform: translateY(40px);
    }
    .footer-st .ac-3 {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1s forwards;
    }
    .footer-nav {
        opacity: 0;
        transform: translateX(-40px);
    }
    .footer-st .footer-nav {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.5s forwards;
    }
    .ac-4 {
        opacity: 0;
        transform: translateX(-40px);
    }
    .footer-st .ac-4 {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.65s forwards;
    }
    .ac-5 {
        opacity: 0;
        transform: translateY(40px);
    }
    .footer-st .ac-5 {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) 1.8s forwards;
    }
    .tab.active[data-id="1"] span {
        color: #00B2FF;
        border-color: #00B2FF;
    }
    .tab.active[data-id="2"] span {
        color: #BE96FF;
        border-color: #BE96FF;
    }
    .tab.active[data-id="3"] span {
        color: #FF4161;
        border-color: #FF4161;
    }
    .tab.active[data-id="4"] span {
        color: #BC6FF1;
        border-color: #BC6FF1;
    }
    .tab.active[data-id="5"] span {
        color: #FF0000;
        border-color: #FF0000;
    }
    .tab.active[data-id="6"] span {
        color: #32E0C4;
        border-color: #32E0C4;
    }
    .team-box:hover .team-box--image {
        width: 160%;
        margin-left: -20%;
        margin-bottom: 10%;
        border-color: #fff
    }
    .team-box {
        opacity: 0;
        transform: translateX(-40px);
    }
    .team-box:nth-child(2) {
        animation-delay: 0.2s !important;
    }
    .team-box:nth-child(3) {
        animation-delay: 0.4s !important;
    }
    .team-box:nth-child(4) {
        animation-delay: 0.6s !important;
    }
    .team-box:nth-child(5) {
        animation-delay: 0.8s !important;
    }
    .team.team-st .team-box {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) forwards;
        padding-bottom: 30px;
    }
    .partner-item {
        opacity: 0;
        transform: translateX(-40px);
    }
    .partner-item.p-show {
        animation: fade 1.2s cubic-bezier(.19, 1, .22, 1) forwards;
    }
}

@media (min-width: 1023.99px) {
    .bg2-1-2-slip {
        /*width: 160%;*/
    }
}

@media (max-width: 1199.99px) {

    .border-content::after {
        display: none;
    }

    .border-content::before {
        display: none;
    }
    .bg-1-1 {
        width: 50%;
        bottom: 0;
        left: -25%;
        animation: bg-1-1 10s linear infinite;
    }
    .bg-1-2 {
        width: 50%;
        top: 0;
        left: -25%;
        animation: bg-1-2 20s linear infinite;
    }
    .bg-1-3 {
        width: 200%;
        bottom: -25%;
        left: -50%;
        animation: bg-1-3 20s linear infinite;
        z-index: 10;
    }
    .bg-1-4 {
        width: 100%;
        bottom: 0;
        left: -20%;
        animation: bg-1-4 20s linear infinite;
        z-index: 9;
    }
    .bg-1-5 {
        width: 70%;
        bottom: 0;
        right: 0;
        ;
        animation: bg-1-4 15s linear infinite;
        z-index: 5;
    }
    .bg-2-2 {
        width: 50%;
        top: 0;
        left: -10%;
        animation: bg-1-2 20s linear infinite;
    }
    .bg-3-1 {
        width: 175%;
        bottom: -50%;
        left: -50%;
        animation: bg-3-1 30s linear infinite;
    }
    .bg3-1-1 {
        width: 200%;
        top: -75%;
        left: -50%;
        animation: bg2-1-1 20s linear infinite;
        z-index: 10;
    }
}





