<div class="media-item media-InnovationLab">
    <ul class="nav nav-pills mb-5 justify-content-between" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">lorem ipsum 1</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">Lorem ipsum 2</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-3" aria-selected="false">lorem ipsum 3</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-4" aria-selected="false">lorem ipsum 4</button>
        </li>
    </ul>
    <div class="tab-content" id="tabContent1">
        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <img src="image/media.jpg" class="media--image" alt="">
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                            <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p class="card-text card-date"><small class="text-muted">17 января 2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <img src="image/media.jpg" class="media--image" alt="">
                    </div>
                    <div class="col-lg-10  col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                            <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p class="card-text card-date"><small class="text-muted">17 января 2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <img src="image/media.jpg" class="media--image" alt="">
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                            <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p class="card-text card-date"><small class="text-muted">17 января 2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <img src="image/media.jpg" class="media--image" alt="">
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                            <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p class="card-text card-date"><small class="text-muted">17 января 2022</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>